{% extends 'base.html' %}
{% block content %}
    <article id="confirmation">
        <h2>Yay!</h2> 
        <h4>We'll see you on {{ booking.date.strftime('%a %d %B %Y') }} at {{ booking.time.strftime('%I:%M %p') }}</h4>
        <h4>Selected treatment: {{ booking.treatment.name }}</h4>
        <p><small>(please allow at least {{ booking.treatment.duration }} minutes for your appointment)</small>
        <br>
        <br>
        View, amend and cancel your bookings <a href="'/bookings">here</a>
        </p>
    </article>
{% endblock content %}