{% extends 'base.html' %}
{% block content %}

<h2>My Bookings</h2>
    <ul id="bookings">
    {% for booking in bookings %}
    <ul class="booking">
        <li><h3>Booking #{{ booking.id }}</h3></li>
        <li>Date: {{ booking.date.strftime('%d %m %y') }}</li>
        <li>Time: {{ booking.time.strftime('%I:%M %p') }}</li>
        <li>Treatment: {{ booking.treatment.name }}</li>
        <li>More info: {{ booking.treatment.description }}</li>
        <li>Please allow at least {{ booking.treatment.duration }} minutes for your appointment.</li>
        <li><form action="/bookings/{{ booking.id }}/edit"> 
            <input style="height:30px; width:10vh" type="submit" value="AMEND">
        </form></li>
        <li><form action="/bookings/{{ booking.id }}/delete" method="post"> 
            <input style="height:30px; width:10vh" type="submit" value="CANCEL">
        </form></li>
    </ul>
   
        
    {% endfor %}
    </ul>
{% endblock content %}