{% extends 'base.html' %}
{% block content %}
<h2>Select from the following options</h2>
<form action="/bookings" method="POST">
    <ul>
        <li><label for="treatments">Choose a treatment:</label></li>
        <li><select name="treatments" id="treatments">
            {% for treatment in treatments %}
                <option value="{{ treatment.id }}" required>{{ treatment.name }}</option>
            {% endfor %}
        </select></li>
        <li><label for="date">Choose a date:</label></li>
        <li><input type="date" id="date" name="date" value="2023-03-30" min="2023-03-30" max="2023-12-31" required></li>
        <li><label for="appt">Choose an appointment time:</label></li>
        <li><input type="time" id="time" name="time" min="10:00" max="16:00" required></li>  
        <li><small>We're open 10am - 5pm</small></li> 
        <li><input style="height:30px; width:10vh" type="submit" value="BOOK"></li>
    </ul>
</form>
{% endblock content %}