{% extends 'base.html' %}
{% block content %}
<form action="/bookings" method="POST">
<label for="treatments">Choose a treatment:</label>

<select name="treatments" id="treatments">
    {% for treatment in treatments %}
        <option value="{{ treatment.id }}" required>{{ treatment.name }}</option>
      {% endfor %}
</select>
<label for="date">Choose a date:</label>

<input type="date" id="date" name="date" value="2023-03-29" min="2023-03-29" max="2023-12-31" required>

<label for="appt">Choose an appointment time:</label>
<small>We're open 10am - 5pm</small>
<input type="time" id="time" name="time" min="10:00" max="16:00" required>
       
<input style="height:30px; width:10vh" type="submit" value="BOOK">
</form>
{% endblock content %}