{% extends 'base.html' %}
{% block content %}
<h2>Our List of Treatments</h2>
    {% for treatment in treatments %}
    <ul class="treatment">
        <li><h3>{{ treatment.name }}</h3></li>
        <li>{{ treatment.description }}</li>
        <li><h5>{{ treatment.duration }} minutes</h5></li>
        <li>
            <form action="/treatments/{{ treatment.id }}"> 
                <input style="height:30px; width:10vh" type="submit" value="MORE">
            </form>
        </li>
    </ul>
    {% endfor %}


{% endblock content %}