html * {
    font-family: 'Pattaya', sans-serif;
    color: #e44935;
    text-align: center;
}

header {
    background-color: #e44935;
    padding: 0;
    margin: 0;
    height: 40%;
    position: sticky; top: 0;
}

h1 {
    margin: 0;
}

header a {
    color: #eeb3d6;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
    text-shadow: -1px 0 #e44935, 0 1px #e44935, 1px 0 #e44935, 0 -1px #e44935, 2px 2px 4px #fff;
}

header a:hover {
    text-decoration: none;
    cursor:pointer;
}

body {
    background: rgb(238,179,214);
    background: radial-gradient(circle, rgba(238,179,214,1) 30%, rgba(255,255,255,1) 175%);
    margin: 0;
    padding: 0;
}

#button-bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    bottom: 5;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.menu-button {
    color: #eeb3d6;
    text-decoration: none;
    font-family: 'Pattaya', sans-serif;
    display: block;
    flex: 0 1 auto;
}

.menu-button:hover {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

button {
    box-shadow: 0px 10px 14px -7px #fff;
    background:linear-gradient(to bottom, #e44935 60%, #f08478 100%);
    border: #f08478;
    background-color: #e44935;
    border-radius: 8px;
	display:inline-block;
	cursor:pointer;
	padding:13px 32px;
    margin-top: 8px;
}

button:hover {
    background:linear-gradient(to top, #e44935 60%, #f08478 100%);
    background-color: #e44935;
}

#home-image {
    display: block;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    width: 50%;
}

footer {
    font-family: 'Pattaya', sans-serif;
    position: relative;
    bottom: 10;
}

footer a {
    color: #e44935;
    text-decoration: none;
    cursor:pointer;
    text-align: right;
}

#treatment-list {
    display: flex;
    flex-direction: column;
}

input[type=submit] {
    box-shadow: 0px 10px 14px -7px #fff;
    background:linear-gradient(to bottom, #e44935 70%, #f08478 100%);
    border: #f08478;
    background-color: #e44935;
    border-radius: 8px;
	display:inline-block;
	cursor:pointer;
    color: #eeb3d6;
    margin-bottom: 2px; 
}

.treatment-image {
    border-radius: 30px;
}



